.profile {
    background-color: var(--background-secondary);
    border-radius: 16px;
    padding: 16px 24px 24px;
    height: 100%;
    overflow: overlay;
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
    .formWrapper {
        margin-top: 45px;
        margin-left: 25px;
    }
    .formBlockWrapper {
        display: flex;
        flex-direction: row;
        gap: 22px;
    }
    .form-group {
        width: 100%;
        display: flex;
        margin-bottom: 18px;
        align-items: center;
    }
    .form-group__label {
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 12px;
        min-width: 150px;
    }
    .inputWrapper {
        flex: 1;
        position: relative;
    }
    .form-group__input {
        flex: 1;
        background-color: var(--background-color);
        padding: 0.5rem;
        border-radius: 7px;
        padding-left: 1.5rem;
        caret-color: var(--color-red);
        height: 34px;
    }
    .form-group__input--disable {
        background-color: var(--skeleton-bg-color);
        color: var(--text-Gray-Soft);
        cursor: not-allowed;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }
    .form-block:first-child {
        flex: 3;
    }
    .form-block:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        border: 1px solid var(--border-cl);
        border-radius: 16px;
        padding: 0.5rem;
    }
    .image-wrapper {
        width: 100px;
        height: 100px;
        .imageReview {
            width: 100%;
            height: 100%;
            border-radius: 999px;
            object-fit: cover;
            object-position: center;
        }
    }
    .form-btnSubmit {
        margin-top: 6px;
        padding-left: 23px;
        padding-right: 23px;
    }
    .chooseImage-heading {
        margin-bottom: 10px;
        font-weight: 600;
    }
    .chooseImage-desc {
        font-size: 1.2rem;
        color: var(--text-dark-gray);
    }
}
