.blogDetail {
    width: 100%;
    margin: 0 auto;

    &__contentWrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 21px;
    }

    &__comments {
        margin: 0 auto;
        margin-top: 20px;
        padding: 40px 0;
        border-top: 1px solid #ddd;
        width: 100%;
        max-width: 1170px;
    }
}
