.BlogCardWrapper {
    text-align: left;
    border-radius: 14px;
    transition: all 0.2s ease-in-out;

    .blog__title {
        color: var(--text-Nightfall);
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1.64;
        letter-spacing: -0.175px;
        margin-bottom: 0px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .blog__subtitle {
        color: var(--text-Gray-Soft);
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2;
        letter-spacing: -0.1px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}
.featureImageWrapper {
    position: relative;
    height: 359px;
    width: 100%;
    margin-bottom: 19px;
    .more-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1rem;
        right: 1rem;
        z-index: 9;
        padding: 1.5rem;
        border-radius: 999px;
        background-color: transparent;
        color: white;
    }
    .more-button:hover {
        background-color: #e8e6e663;
    }
    .blog__image {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 14px;
        object-fit: cover;
        background-color: var(--skeleton-bg-color);
    }
}

.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline solid var(--text-default);
}
